// стили сетки календаря и заголовка календаря с днями недели

.calendar {
  padding: 15px;
  &__header {
    padding-left: 60px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
  &__body {
    padding-right: 15px;
    width: 100%;
    display: flex;
  }
}

.calendar__day-label {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-content: space-around;
  width: 250px;
  height: 128px;
}
