// стили отображаемого в календаре события

.calendar__time-slot {
  position: relative;
}
.event__content {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  border-radius: 20px;
  background-color: rgb(54, 156, 156);
  position: absolute;
  z-index: 10;
  &-span {
    background: none;
    margin: 5px;
    color: azure;
    font-size: 30px;
  }
}

.popup__content {
  width: 200px;
  height: 50px;
  position: relative;
  z-index: 11;
}
.delete-event-btn {
  width: 200px;
  height: 50px;
  background-color: azure;
  border-radius: 8px;
  font-weight: 800;
  font-size: 20px;
}
