@import "page.scss";
@import "common.scss";
@import "navigation.scss";
@import "calendar.scss";
@import "timescale.scss";
@import "create-event.scss";
@import "event.scss";

* {
  box-sizing: border-box;
  background-color: #fff;
}

body {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
