.page {
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  box-shadow: 7px 9px 18px -3px rgba(0, 0, 0, 0.45);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(204, 204, 204, 0.2705882353);
  z-index: 10;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.navigation {
  margin-left: 20px;
}

.create-event-btn__icon {
  margin-right: 5px;
}

.calendar {
  padding: 15px;
}
.calendar__header {
  padding-left: 60px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.calendar__body {
  padding-right: 15px;
  width: 100%;
  display: flex;
}

.calendar__day-label {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-content: space-around;
  width: 250px;
  height: 128px;
}

.time-slot {
  height: 60px;
  width: 60px;
  padding-top: 47px;
  padding-right: 5px;
  text-align: right;
}

.calendar__week-container {
  width: 100%;
  display: flex;
}

.calendar__week {
  padding-right: 45px;
  display: flex;
  width: 100%;
}
.calendar__day {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
}
.calendar__time-slot {
  height: 60px;
  border-left: 1px solid rgb(124, 124, 124);
  border-bottom: 1px solid rgb(124, 124, 124);
}
.calendar__time-slot-min {
  height: 10px;
}

.today {
  color: red;
  font-weight: bold;
  /* Add any other styling for today's date */
}

.create-event-btn {
  width: 140px;
  height: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgba(66, 66, 240, 0.476);
}

.navigation__today-btn {
  width: 80px;
  height: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.create-event__close-btn {
  border: none;
  transform: rotate(45deg);
  margin-left: 400px;
  background-color: #ffffff;
}

.event-form {
  display: flex;
  flex-direction: column;
}
.event-form__field {
  border: none;
  margin-top: 15px;
}
.event-form__field:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(64, 0, 255, 0.231372549);
}
.event-form__submit-btn {
  margin-top: 15px;
  height: 40px;
  border: none;
  border-radius: 5px;
  width: 100px;
  background-color: rgba(64, 0, 255, 0.231372549);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.calendar__time-slot {
  position: relative;
}

.event__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  border-radius: 20px;
  background-color: #6d48da;
  position: absolute;
  z-index: 10;
  padding: 5px;
}
.event__content-span {
  background: none;
  margin: 5px;
  color: azure;
  font-size: 30px;
}

.modal_container {
  width: 100vw;
  height: 100vh;
}

.popup__content {
  width: 180px;
  height: 50px;
  position: relative;
  z-index: 11;
  border-radius: 5px;
}

.delete-event-btn {
  width: 180px;
  height: 50px;
  background-color: rgb(255, 240, 240);
  border: 2px solid rgba(226, 93, 93, 0.899);
  border-radius: 5px;
  font-weight: 800;
  font-size: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

* {
  box-sizing: border-box;
  background-color: #fff;
}

body {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*# sourceMappingURL=styles.css.map */
