// стили боковой временной шкалы

.time-slot {
  height: 60px;
  width: 60px;
  padding-top: 47px;
  padding-right: 5px;
  text-align: right;
}

.calendar__week-container {
  width: 100%;
  display: flex;
}
.calendar {
  &__week {
    padding-right: 45px;
    display: flex;
    width: 100%;
  }

  &__day {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
  }

  &__time-slot {
    height: 60px;
    border-left: 1px solid rgb(124, 124, 124);
    border-bottom: 1px solid rgb(124, 124, 124);
    &-min {
      height: 10px;
    }
  }
}
